
#productslist {
    display:block;
}

#ullist{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    
}

#searchBtn{
    margin: 0 9px 0 9px;
}

#navgloBal {
    position: sticky;
}

#containernav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#searchBar{
    display: flex;
    min-width: 25%;
}


#carouselimg {
    max-height: 511px;
}

#Shoopy{
    margin-right: 0
}



#Section {
    margin: 0 240px 0 240px;
}